$mainColor:#D90A2C;
$wordsColor:#17161A;
$transition:.25s all linear;

$sm: (min-width: 576px);
$md: (min-width: 768px);
$lg: (min-width: 992px);
$xl: (min-width: 1200px);

// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
